{% extends 'Layout/IndexLayout.html' %}

{% block pagetitle %}Change Settings {% endblock %}

{% block SideBarTitle %}Change Settings{% endblock %}

{% block titlelink %}"/composts"{% endblock %}
{% block maintitle %}Change Settings{% endblock %}

{% block LOGIN %}
    {#    <li><a href="/login">{{ login }}</a></li>#}
{% endblock %}


{% block ListItems %}
    {#    <li><a href="/">Dashboard</a></li>#}
    {#    <li><a href="/composts">Composts</a></li>#}
    {#    <li><a href="/settings">Settings</a></li>#}
    {#    <li><a href="/init_db">Init DB</a></li>#}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-7">
            <form role="form" method="post" action="/change_compost/save_all">
                <div class="form-group">
                    {#                    <label for="id">Compost id:</label>#}
                    <input type="hidden" class="form-control" id="dev_id" value="{{ device.id }}" name="dev_id">
                    <br>
                    <label for="name">Compost Name:</label>
                    <input type="text" class="form-control" id="name" value="{{ device.name }}" name="name">
                    <br>
                    <label for="country">Country:</label>
                    <input type="text" class="form-control" id="country" value="{{ device.country }}" name="country">
                    <br>
                    <label for="region">Region:</label>
                    <input type="text" class="form-control" id="region" value="{{ device.region }}" name="region">
                    <br>
                    <label for="area">Area:</label>
                    <input type="text" class="form-control" id="area" value="{{ device.area }}" name="area">
                    <br>
                    <label for="rip">Raspberry IP Address:</label>
                    <input type="text" class="form-control" id="rip" value="{{ device.raspberry_ip }}" name="rip">
                    <br>
                    <label for="aip">Arduino IP Address:</label>
                    <input type="text" class="form-control" id="aip" value="{{ device.arduino_ip }}" name="aip">
                    <br>

                    <button class="btn btn-primary" type="submit" id="save_btn">Save All</button>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            {#######################################    CONTROLS   ###################################################}
                            <br>
                            <br>
                            <label for="Motor_F">Motor Forward:</label>
                            <br>
                            <button type="button"
                                    class="btn {% if flags.Motor_F %}btn-success{% else %}btn-danger{% endif %}"
                                    id="Motor_F">{% if flags.Motor_F %}ON{% else %}OFF{% endif %}</button>
                            <br>
                            <br>
                            <label for="Motor_B">Motor Backward:</label>
                            <br>
                            <button type="button"
                                    class="btn {% if flags.Motor_B %}btn-success{% else %}btn-danger{% endif %}"
                                    id="Motor_B">{% if flags.Motor_B %}ON{% else %}OFF{% endif %}</button>
                            <br>
                            <br>
                            <label for="Fan">Roof Fan:</label>
                            <br>
                            <button type="button"
                                    class="btn {% if flags.Fan %}btn-success{% else %}btn-danger{% endif %}"
                                    id="Fan">{% if flags.Fan %}ON{% else %}OFF{% endif %}</button>
                            <br>
                            <br>
                            <label for="Vent">Ventilation:</label>
                            <br>
                            <button type="button"
                                    class="btn {% if flags.Vent %}btn-success{% else %}btn-danger{% endif %}"
                                    id="Vent">{% if flags.Vent %}ON{% else %}OFF{% endif %}</button>
                            <br>
                            <br>

                        </div>
                        <div class="col-md-3">
                            <br>
                            <br>
                            <label for="Motor_R">Motor Right:</label>
                            <br>
                            <button type="button"
                                    class="btn {% if flags.Motor_R %}btn-success{% else %}btn-danger{% endif %}"
                                    id="Motor_R">{% if flags.Motor_R %}ON{% else %}OFF{% endif %}</button>
                            <br>
                            <br>
                            <label for="Motor_L">Motor Left:</label>
                            <br>
                            <button type="button"
                                    class="btn {% if flags.Motor_L %}btn-success{% else %}btn-danger{% endif %}"
                                    id="Motor_L">{% if flags.Motor_L %}ON{% else %}OFF{% endif %}</button>
                            <br>
                            <br>
                            <label for="Door_1">Door 1:</label>
                            <br>
                            <button type="button"
                                    class="btn {% if flags.Door_1 %}btn-success{% else %}btn-danger{% endif %}"
                                    id="Door_1" disabled>{% if flags.Door_1 %}ON{% else %}OFF{% endif %}</button>
                            <br>
                            <br>
                            <label for="Emergency_Stop">Emergency Stop:</label>
                            <br>
                            <button type="button"
                                    class="btn {% if flags.Emergency_Stop %}btn-success{% else %}btn-danger{% endif %}"
                                    id="Emergency_Stop">{% if flags.Emergency_Stop %}ON{% else %}
                                OFF{% endif %}</button>
                            {#                            <br>#}
                            {#                            <br>#}
                            {#                            <label for="test">Test:</label>#}
                            {#                            <br>#}
                            {#                            <button type="button"#}
                            {#                                    class="btn {% if flags.Emergency_Stop %}btn-success{% else %}btn-danger{% endif %}"#}
                            {#                                    id="test">{% if flags.Emergency_Stop %}ON{% else %}#}
                            {#                                OFF{% endif %}</button>#}
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {#        $("#Motor_F").click(toggle_buttons("{{ device.id }}", "#Motor_F"));#}
        $("#Motor_F").click(function () {
            toggle_buttons("#Motor_F", "{{ device.id }}");
{#            location.reload();#}
        });
        $("#Motor_B").click(function () {
            toggle_buttons("#Motor_B", "{{ device.id }}");
{#            location.reload();#}
        });
        $("#Motor_R").click(function () {
            toggle_buttons("#Motor_R", "{{ device.id }}");
{#            location.reload();#}
        });
        $("#Motor_L").click(function () {
            toggle_buttons("#Motor_L", "{{ device.id }}");
{#            location.reload();#}
        });
        $("#Fan").click(function () {
            toggle_buttons("#Fan", "{{ device.id }}");
{#            location.reload();#}
        });
        $("#Vent").click(function () {
            toggle_buttons("#Vent", "{{ device.id }}");
{#            location.reload();#}
        });
        $("#Door_1").click(function () {
            toggle_buttons("#Door_1", "{{ device.id }}");
{#            location.reload();#}
        });
        $("#Emergency_Stop").click(function () {
            toggle_buttons("#Emergency_Stop", "{{ device.id }}");
{#            location.reload();#}
        });
        {#        $('#test').click(function () {#}
        {#            $.post('/test/controls', {control: "#Door_1", state: 'ON'}).success(function () {#}
        {#                location.reload();#}
        {#            });#}
        {#        });#}


    </script>



{% endblock %}