{% extends 'Layout/IndexLayout.html' %}

{% block pagetitle %}Dashboard{% endblock %}

{% block sidabartitlelink %}"/"{% endblock %}
{% block SideBarTitle %}Dashboard{% endblock %}

{% block titlelink %}"/"{% endblock %}
{% block maintitle %}Dashboard{% endblock %}

{% block LOGIN %}
    {#    <li><a href="/login">{{ login }}</a></li>#}
{% endblock %}


{% block ListItems %}
    {#    <li><a href="/">Dashboard</a></li>#}
    {#    <li><a href="/composts">Composts</a></li>#}
    {#    <li><a href="/settings">Settings</a></li>#}
    {#    <li><a href="/init_db">Init DB</a></li>#}
{% endblock %}

{% block body %}
    <h4>Name:{{ compost_device.name }} Country: {{ compost_device.country }} Region: {{ compost_device.region }}
        Area: {{ compost_device.area }} IP: {{ compost_device.ip }}</h4>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div id="container1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="container2"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="container3"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="container4"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="container5"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="container11"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="container7"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="container8"></div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        create_chart('#container1', 'spline', 'sunlight_in', 'Sunlight Inside (%)','Sunlight (%)', 'time', 'values', 11000);
        create_chart('#container2', 'spline', 'sunlight_out', 'Sunlight Outside (%)', 'Sunlight (%)', 'time', 'values', 11000);
        create_chart('#container3', 'spline', 'soil_temp', 'Soil Temperature (°C)', 'Temperature (°C)', 'time', 'values', 11000);
        create_chart('#container4', 'spline', 'soil_hum', 'Soil Humidity (%)', 'Humidity (%)', 'time', 'values', 11000);
        create_chart('#container5', 'spline', 'air_temp_in', 'Air Temperature Inside (°C)', 'Temperature (°C)', 'time', 'values', 11000);
        create_chart('#container11', 'spline', 'air_hum_in', 'Air Humidity Inside (%)', 'Humidity (%)', 'time', 'values', 11000);
        create_chart('#container7', 'spline', 'air_temp_out', 'Air Temperature Outside (°C)', 'Temperature (°C)', 'time', 'values', 11000);
        create_chart('#container8', 'spline', 'air_hum_out', 'Air Humidity Outside (%)', 'Humidity (%)', 'time', 'values', 11000);


    </script>

{% endblock %}