{% extends 'Layout/IndexLayout.html' %}

{% block pagetitle %}Index {% endblock %}

{% block sidabartitlelink %}"#"{% endblock %}
{% block SideBarTitle %}Index{% endblock %}

{% block titlelink %}"#"{% endblock %}
{% block maintitle %}Index{% endblock %}

{% block LOGIN %}
    {#    <li><a href="/login">{{ login }}</a></li>#}
{% endblock %}


{% block ListItems %}
    <li><a href="/">Dashboard</a></li>
    <li><a href="/composts">Composts</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/init_db">Init DB</a></li>
{% endblock %}

{% block body %}

    init db


{% endblock %}


{% block javascript %}

{% endblock %}